// colors
$primary-color: #efefef;
$secondary-color: #333;
$tertiary-color: #D0C9C0;
$text-primary-color: #333;
$text-secondary-color: #fff;
// font-family
$font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
// font-size
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 18px;

$font-size-xlarge: 24px;
$font-size-xxlarge: 36px;

// border-radius
$border-radius-full: 99999px;
$border-radius-base: 10px;
$border-radius-large: 20px;
$border-radius-small: 5px;